{% extends "form-builder/settings/_layouts/base" %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% set title = "Integration" %}

{% block actionButton %}
    {% if craft.app.config.general.allowAdminChanges %}
        <a href='{{ url("form-builder/settings/integrations/new") }}' class="btn submit add icon">New</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="integrations-admin-table"></div>
    <script>
        var tableData = {{ tableData|json_encode|raw }}
        {% if craft.app.config.general.allowAdminChanges %}
            var deleteAction = "{{ actionUrl('form-builder/integration-settings/delete')  }}";
        {% else %}
            var deleteAction = null;
        {% endif %}
    </script>



{% endblock %}

{% js %}

const columns = [
    {
        name: '__slot:title',
        title: 'Name'
    },
    {
        name: 'type',
        title: 'Type'
    },
    {
        name: 'enabled',
        title: 'Enabled',
        callback: function(value) {
            if (value === true) {
                return `<span class='status green'></span> Enabled`;
            }

            return `<span class='status red'></span> Disabled`;
        }
    },
];

new Craft.VueAdminTable({
    tableData: tableData,
    columns: columns,
    container: '#integrations-admin-table',
    emptyMessage: 'No integration exist yet.',
    deleteAction: deleteAction
});

{% endjs %}
