{{ csrfInput({
    id: 'csrf-input',
}) }}

<div class="cfb:h-screen cfb:flex cfb:flex-col">
    <!-- Top Bar -->
    <div class="cfb:px-5 cfb:py-3 cfb:bg-white cfb:border-b cfb:border-gray-200">
        <div class="cfb:flex cfb:justify-between cfb:items-center">
            <div class="cfb:text-lg cfb:font-semibold">Form Builder</div>
            <div class="cfb:flex cfb:gap-4">
                <button id="main-settings-btn"
                        class="cfb:bg-black cfb:hover:bg-gray-600 cfb:text-white cfb:text-ms cfb:py-1 cfb:px-3 cfb:rounded-lg cfb:border cfb:border-gray-300">
                    <span class="cfb:iconify-[mdi--settings]"></span>
                </button>
                <button id="preview-btn" class="cfb:bg-blue-600 cfb:hover:bg-blue-700 cfb:text-white cfb:text-ms cfb:py-1 cfb:px-3  cfb:rounded-lg cfb:shadow">
                    Preview
                </button>
                {% if currentUser %}
                    <button class="cfb:bg-blue-600 cfb:hover:bg-blue-700 cfb:text-white cfb:text-ms cfb:py-1 cfb:px-3 cfb:rounded-lg cfb:shadow">
                        Save
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="cfb:bg-gray-100 cfb:overflow-hidden cfb:h-full">
        <div class="cfb:flex cfb:overflow-hidden cfb:h-full cfb:w-[90%] cfb:mx-auto">
            <!-- Left Sidebar - Components -->
            <div class="cfb:overflow-y-auto cfb:overflow-x-hidden cfb:h-full cfb:min-w-[200px] cfb:bg-white cfb:border-r cfb:border-gray-200">
                {% include 'form-builder/_builder/components-bar' %}
            </div>

            <!-- Middle - Form Builder -->
            <div class="cfb:flex-1 cfb:overflow-y-auto cfb:px-4 cfb:py-6">
                {% include 'form-builder/_builder/builder-bar' %}
            </div>

            <!-- Right Sidebar - Settings -->
            <div class="cfb:overflow-y-auto cfb:hide-scrollbar cfb:h-full cfb:min-w-[250px] cfb:bg-white cfb:border-l cfb:border-gray-200">
                {% include 'form-builder/_builder/settings-bar' %}
            </div>
        </div>
    </div>
</div>
{#<div id="loading" class="cfb:hidden cfb:text-sm cfb:text-gray-600 cfb:z-60">#}
{#    Loading icons...#}
{#</div>#}
{% include 'form-builder/_builder/main-settings-modal' %}
{% include 'form-builder/_builder/preview' %}
{% include 'form-builder/_builder/icon-picker' %}