<div class="cfb:flex-1 cfb:px-6 cfb:h-full">
    <div class="cfb:bg-white cfb:rounded-lg cfb:shadow-sm cfb:border cfb:border-gray-200 cfb:h-full cfb:flex cfb:flex-col cfb:w-full">
        <div class="cfb:flex cfb:flex-col cfb:flex-1 cfb:p-6 cfb:overflow-y-auto cfb:w-full cfb:gap-y-2" id="form-container">
        </div>
    </div>
</div>