<div class="cfb:w-80 cfb:bg-white cfb:border-l cfb:border-gray-200  cfb:h-full">
    <div class="cfb:overflow-y-auto cfb:p-5 cfb:hide-scrollbar">
        <h2 class="cfb:text-lg cfb:font-semibold cfb:text-gray-800 cfb:mb-5 cfb:flex cfb:items-center cfb:gap-2">
            <span class="cfb:iconify-[mdi--settings]"></span>
            Settings
        </h2>
        <div id="settings-container">
            <div class="no-selection cfb:text-center cfb:text-gray-500 cfb:mt-10">
                <span class="cfb:iconify-[mdi--settings] cfb:text-5xl cfb:mb-4"></span>
                <p>Select a component to edit</p>
            </div>
        </div>
    </div>
</div>
